##ingnore files##

#local Test Files

data/*.json
.gitignore

#Claude Code
.claude/*.local.json


# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars
